/*
    COLOR PALLETE

    Ivory       #e3e6e0 or #f2f5f0
    Black       #252930
    Khaki       #c0b3a0
    Blue Gray   #6b8490
*/

/* GLOBAL STYLES
------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}
 
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}
body {
    background: #e3e6e0;
    margin: 0;
    /* color: #f2f1ef; */
}

/* links */
a {
    color: #6b8490;
}

a:hover {
    color: #c0b3a0;
    text-decoration: none;
}

footer a {
    color: #c0b3a0
}

footer a:hover {
    color: #6b8490;
    text-decoration: none;
}

.btn {
    background:#6b8490;
    color: #f2f5f0;
    text-decoration: none;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}


/* HOME
------------------------------------*/
.home {
    background: url(../images/bg-home-office-city.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}


/* RESUME
------------------------------------*/
.resume header::before {
    background: url(../images/bg-home-office-city.jpg) center;
    background-size: cover;
    content: '';
    display: block;
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2 {
    border-bottom: 2px dashed #6b8490;
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}

/* Profile
------------------------------------*/

/* Projects
------------------------------------*/
.project-item {
    display: flow-root;
    margin: 30px 0; /* 30px for top/bottom, 0px for left/right */
}

.project-item img {
    width: 300px;
    float: left; /* for text to flow around the image */
    margin-right: 20px;
}

/* Work Experience
------------------------------------*/
.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
}

/* Education
------------------------------------*/


/* FOOTER
------------------------------------*/
footer {
    background: #252930;
    color: #f2f5f0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.socials {
    list-style-type: none; /* removes bullet points */
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img { /* selects img tag in socials class */
    width: 32px;
}

.socials img:hover {
    opacity: 50%;
}
