* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(bg-home-office-city.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end; /* puts on the right side */
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999; /* always puts navbar on top of other elements */
    background-color: rgba(255, 255, 255, 0.117);
    backdrop-filter: blur(10px); /* gives a glass effect when background color has transparency */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: flex-start; /* starts from the top */
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

/* .menu-icon {
    display: none;
} */

/* nav bar  items not shown on mobile size screens, show menu icon */
@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    /* .menu-icon {
        display: flex;
    } */
}

/* nav bars fills entire mobile screen when < 400px*/
@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}